---
layout: base.html
---
{% block content %}
<div class="prose lg:prose-lg prose-neutral mx-auto px-gap prose-headings:font-sans prose-headings:font-bold">
    <h1 class="!mb-gap">{% block title %}{{ title }} {{ year }}{% endblock %}</h1>

    {% block lead %}{% endblock %}
    <div class="lead">
    {{ summary }}
    </div>

    {% if image %}
        <img src="{{ image }}" alt="{{ title }}" class="w-full rounded-lg shadow-lg">
    {% endif %}

    {% if logo and nor %}
        <div class="flex flex-col md:flex-row items-center justify-between">
            <div class="w-full md:w-1/3 p-4">
                <img src="{{ logo }}" alt="{{ title }}" width="300">
            </div>
            <div class="w-full md:w-2/3 p-4">
    {% elsif logo %}
        <img src="{{ logo }}" alt="{{ title }}" width="300">
    {% endif %}

                {% if results or winner_abs or winner_cor %}
                    <h2 class="!mb-gap">{% block title %} Rezultati {% endblock %}</h2>
                    <ul>
                    {% if winner_abs %}
                        <li>Zmagovalec - absolutno: <b>{{ winner_abs }}</b></li>
                    {% endif %}

                    {% if winner_cor %}
                        <li>Zmagovalec - korigirano: <b>{{ winner_cor }}</b></li>
                    {% endif %}

                    {% if results %}
                        <li><a href="{{ results }}" class="no-underline border-b-2 border-link hover:bg-link-hover">Rezultati</a></li>
                    {% endif %}
                    </ul>
                {% endif %}

                {% if nor or rules or apply or attendees or weather %}
                    <h2 class="!mb-gap">{% block title %} Razpisni dokumenti {% endblock %}</h2>
                    <ul>
                    {% if nor %}
                        <li><a href="{{ nor }}" target="_blank" class="no-underline border-b-2 border-link hover:bg-link-hover">Program</a></li>
                    {% endif %}

                    {% if rules %}
                        <li><a href="{{ rules }}" target="_blank" class="no-underline border-b-2 border-link hover:bg-link-hover">Pravila</a></li>
                    {% endif %}

                    {% if apply %}
                        <li><a href="{{ apply }}" target="_blank" class="no-underline border-b-2 border-link hover:bg-link-hover">Prijavnica</a></li>
                    {% endif %}

                    {% if attendees %}
                        <li><a href="{{ attendees }}" class="no-underline border-b-2 border-link hover:bg-link-hover">Prijavljene jadrnice</a></li>
                    {% endif %}

                    {% if weather %}
                        <li><a href="{{ weather }}" class="no-underline border-b-2 border-link hover:bg-link-hover">Spremljanje vremenske napovedi</a></li>
                    {% endif %}
                    </ul>
                {% endif %}

    {% if logo and nor %}
            </div>
        </div>
    {% endif %}

    {{ content }}

    {% if sponsors %}
        <h2 class="!mb-gap">{% block title %} Donatorji in sponzorji {% endblock %}</h2>

        <div class="container mx-auto">
            <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 gap-4">
                {% for sponsor in sponsors %}
                    {% assign sp = sponsorsMap[sponsor] %}
                    {% if sp %}
                        <div class="flex justify-center items-center">
                            {% if sp.link %}
                                <a href="{{ sp.link }}">
                            {% endif %}
                                    <img src="/assets/sponsor/{{ sponsor }}.{{ sp.ext}}" alt="{{ sp.name }}" class="max-w-full max-h-24">
                            {% if sp.link %}
                                </a>
                            {% endif %}
                        </div>
                    {% else %}
                        Sponsor not found: {{ sponsor }}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    {% endif %}

</div>
{% endblock %}

{% if eleventyExcludeFromCollections %}
    {% assign prevU = "/jadranje/" | append: year | append: "/" %}
    {% assign prevY = year %}
{% else %}
    {% assign jIndex = -1 %}
    {% for item in collections.jadranje %}
        {% if item.url == page.url %}
            {% assign jIndex = forloop.index0 %}
            {% break %}
        {% endif %}
    {% endfor %}

    {% if jIndex > 0 %}
        {% assign pIdx = jIndex | minus: 1 %}
        {% assign prevU = collections.jadranje[pIdx].url %}
        {% assign prevY = collections.jadranje[pIdx].data.year %}
    {% endif %}

    {% assign maxIdx = collections.jadranje | size | minus: 1 %}
    {% if jIndex < maxIdx %}
        {% assign nIdx = jIndex | plus: 1 %}
        {% assign nextU = collections.jadranje[nIdx].url %}
        {% assign nextY = collections.jadranje[nIdx].data.year %}
    {% endif %}
{% endif %}


<nav class="mt-10 bg-gray-100 border-t border-gray-300">
    <div class="container mx-auto px-4 py-4">
        <div class="flex flex-row justify-between items-center">
                {% if prevU %}
                    <span><a href="{{ prevU }}" class="no-underline border-b-2 border-link hover:bg-link-hover">&larr; PBJ {{ prevY }}</a></span>
                {% else %}
                    <span> </span>
                {% endif %}
                    <span><a href="/" class="no-underline border-b-2 border-link hover:bg-link-hover">≡ Domov</a></span>
                {% if nextU %}
                    <span><a href="{{ nextU }}" class="no-underline border-b-2 border-link hover:bg-link-hover">PBJ {{ nextY }} &rarr;</a></span>
                {% else %}
                    <span> </span>
                {% endif %}
        </div>
    </div>
</nav>
