---
layout: base.html
---
{% block content %}
<div class="prose lg:prose-lg prose-neutral mx-auto px-gap prose-headings:font-sans prose-headings:font-bold">
    <h1 class="!mb-gap">{% block title %}{{ title }} {{ year }}{% endblock %}</h1>

    {% block lead %}{% endblock %}
    <div class="lead">
    {{ summary }}
    </div>

    {% if results or winner_abs or winner_cor %}
        <h2 class="!mb-gap">{% block title %} Rezultati {% endblock %}</h2>

        {% if winner_abs %}
            <li>Zmagovalec - absolutno: <b>{{ winner_abs }}</b></li>
        {% endif %}

        {% if winner_cor %}
            <li>Zmagovalec - korigirano: <b>{{ winner_cor }}</b></li>
        {% endif %}

        {% if results %}
            <li><a href="{{ results }}">Rezultati</a></li>
        {% endif %}

    {% endif %}

    {% if weather or nor or rules or apply or attendees %}
        <h2 class="!mb-gap">{% block title %} Razpisni dokumenti {% endblock %}</h2>

        {% if nor %}
            <li><a href="{{ nor }}">Program</a></li>
        {% endif %}

        {% if rules %}
            <li><a href="{{ rules }}">Pravila</a></li>
        {% endif %}

        {% if apply %}
            <li><a href="{{ apply }}">Prijavnica</a></li>
        {% endif %}

        {% if attendees %}
            <li><a href="{{ attendees }}">Prijavljene jadrnice</a></li>
        {% endif %}

        {% if weather %}
            <li><a href="{{ weather }}">Spremljanje vremenske napovedi</a></li>
        {% endif %}

    {% endif %}

    {% if logo %}
        <img src="{{ logo }}" alt="{{ title }}" width="300">
    {% endif %}

    {{ content }}
</div>
{% endblock %}
