Vremenska napoved na dan:
<select id="forecastSelector" class="text-primary border border-gray-300 rounded-md p-2">
    {% for image in collections[route] reversed %}
        <option value="{{ image.name }}">{{ image.name }}</option>
    {% endfor %}
</select>
<br>
vir: <a href="https://windy.com" class="no-underline border-b-2 border-link hover:bg-link-hover">windy.com</a>
